<module>
	<rawname>allowlist</rawname>
	<repo>unsupported</repo>
	<name>Allow List</name>
	<version>16.0.4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>
		This module is used to manage a system wide list of allowlisted callers.
	</description>
	<changelog>
		*16.0.4* FREEPBX-24162 
		*16.0.3* FREEPBX-24158 
		*16.0.2* Fix for splicing into wrong location in dial plan placing it before the blacklist checking
		*16.0.1* Initial 16.0 release
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Allowlist" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Allowlist" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<depends>
		<module>core ge 16.0.56.28</module>
		<module>cdr</module>
	</depends>
	<menuitems>
		<allowlist needsenginedb="yes">Allowlist</allowlist>
	</menuitems>
 	<supported>
 		<version>16.0</version>
 	</supported>
		<console>
			<command>
				<name>allowlist</name>
			</command>
		</console>
	<database>
	</database>
</module>