<module>
	<rawname>allowlistng</rawname>
	<repo>unsupported</repo>
	<name>Allow List NG</name>
	<version>16.0.4</version>
	<publisher>Marco Jakobs</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Admin</category>
	<description>
		This module is used to manage a system wide list of allowlisted callers. Fork of the original Allow List module with reverse logic (allowed callers are filtered out, all others continue in the inbound route path)
	</description>
	<changelog>
		*16.0.4* Initial version based on the Sangoma 16.0.4 original
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Allowlist" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Allowlist" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Allowlist" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<depends>
		<module>core ge 16.0.56.28</module>
		<module>cdr</module>
	</depends>
	<menuitems>
		<allowlist needsenginedb="yes">Allowlist NG</allowlist>
	</menuitems>
 	<supported>
 		<version>16.0</version>
 	</supported>
		<console>
			<command>
				<name>allowlist</name>
			</command>
		</console>
	<database>
	</database>
</module>